<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <property name="LOGDIR" value="logs/"/>
    <property name="PATTERN"
              value="%d{'yyyy-MM-dd HH:mm:ss,SSS',Europe/Helsinki} [%X{user}] [%-12thread] %-5level %c{1} - %m%n"/>

    <appender name="JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGDIR}/server-logstash.%d{yyyy-MM-dd_HH}.json</fileNamePattern>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="DEFAULT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGDIR}/server-main.%d{yyyy-MM-dd}.log</fileNamePattern>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGDIR}/server-sql.%d{yyyy-MM-dd}.log</fileNamePattern>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <springProperty scope="context" name="activeProfiles" source="spring.profiles.active" defaultValue="-"/>
    <springProperty scope="context" name="hostname" source="myHostname" defaultValue="-"/>

    <logger name="fi.livi.rata.avoindata" level="DEBUG"/>
    <logger name="org.flywaydb" level="DEBUG"/>

    <logger name="org.hibernate.type" level="DEBUG">
        <appender-ref ref="SQL"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="JSON"/>
        <appender-ref ref="DEFAULT"/>
    </root>

</configuration>
