services:
  db:
    image: mysql:8.0.36
    restart: always
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    ports:
      - "3306:3306"

  db-init:
    image: flyway/flyway:11.2.0-alpine
    volumes:
      - "../AvoinDataUpdater/src/main/resources/db/migration/:/flyway/sql"
      - "~/.m2:/root/.m2"
    links:
      - "db:db"
    command: -url=jdbc:mysql://db -schemas=avoindata_test -user=root -connectRetries=60 migrate
    depends_on:
      - db