name: Check Dependabot alerts and notify Slack

on:
  schedule:
    - cron: "0 5-14 * * 1-5"
  workflow_dispatch:

jobs:
  check_alerts:
    if: github.repository != 'tmfg/digitraffic-rail'
    runs-on: ubuntu-24.04
    steps:
      - name: Check Dependabot alerts
        uses: tmfg/digitraffic-actions@dependabot-slack/v1
        with:
          TOKEN: ${{ secrets.DEPENDABOT_ALERTS_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_ALARMS_WEBHOOK_URL }}
          CRITICAL: "true"
          HIGH: "false"
          MEDIUM: "false"
          LOW: "false"
