name: Deploy from other repo
on:
  workflow_dispatch:
    inputs:
      env:
        description: "Environment"
        required: true
        type: environment
        default: "beta"
      application-name:
        description: "Application to install"
        required: true
        type: choice
        options:
          - infra-api
          - etj2-api
      config-branch:
        description: "Config repo branch"
        default: master
        required: true
        type: string
      suffix:
        description: "Username suffix (db schema revision for the application)"
        required: true
        type: string
jobs:
  deploy:
    if: github.repository != 'tmfg/digitraffic-rail'
    environment: ${{ github.event.inputs.env }}
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      actions: read
    steps:
      - name: Configure AWS credentials for rail-${{ github.event.inputs.env }}
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          role-session-name: gh-actions-deploy-rail-${{ github.event.inputs.env }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Update ${{ github.event.inputs.application-name }} task definition
        uses: tmfg/digitraffic-actions@update-task-def/v2
        with:
          task-def-file-name: rail-${{ github.event.inputs.env }}-${{ github.event.inputs.application-name }}
          family-name: ${{ github.event.inputs.application-name }}
          image-arn: ${{ secrets.FIRA_ECR_URL }}/${{ github.event.inputs.application-name }}:digitraffic-${{ github.event.inputs.env }}
          aws-role: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
          ci-repo-url: ${{ secrets.CONFIG_REPO_NAME }}
          ci-repo-branch: ${{ github.event.inputs.config-branch }}
          ci-ssh-key: ${{ secrets.CONFIG_REPO_SSH_KEY }}
          environment-value: ${{ github.event.inputs.suffix }}

      - name: Checkout CI-repo
        uses: actions/checkout@v6
        with:
          repository: ${{ secrets.CONFIG_REPO_NAME }}
          ssh-key: ${{ secrets.CONFIG_REPO_SSH_KEY }}
          ref: ${{ inputs.config-repo-branch }}
          path: digitraffic-ci

      - name: Read SBOM config
        id: sbom-config
        run: |
          echo "config<<EOF" >> $GITHUB_OUTPUT
          cat digitraffic-ci/aws/sbom/rail.json >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

          echo "common<<EOF" >> $GITHUB_OUTPUT
          cat digitraffic-ci/aws/sbom/config.json >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT      

      - name: Generate SBOM
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: image
          image-ref: ${{ secrets.FIRA_ECR_URL }}/${{ github.event.inputs.application-name }}:digitraffic-${{ github.event.inputs.env }}
          format: cyclonedx
          output: ${{ github.event.inputs.application-name }}-sbom.json
      - name: Update ${{ github.event.inputs.application-name }} ECS service
        uses: tmfg/digitraffic-actions@ecs-service-update/v1
        with:
          aws-role: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
          task-definition: ${{ github.event.inputs.application-name }}
          service-name: ${{ github.event.inputs.application-name }}
          cluster-name: ${{ secrets.CLUSTER_NAME }}
          desired-count: ${{ github.event.inputs.env == 'prod' && 2 || 1 }}

      - name: Configure AWS credentials for SBOM
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{ fromJson(steps.sbom-config.outputs.common).sbomUploadRoleArn }}
          role-session-name: gh-actions-upload-sbom-rail-mosquitto-${{ github.event.inputs.env }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Upload SBOM
        run: |
          aws s3 cp ${{ github.event.inputs.application-name }}-sbom.json s3://${{ fromJson(steps.sbom-config.outputs.common).bucketArn }}/${{ fromJson(steps.sbom-config.outputs.config)[github.event.inputs.env][github.event.inputs.application-name] }}/${{ github.run_id }}-${{ github.sha }}.json
      - name: Notify Slack
        if: failure()
        uses: 8398a7/action-slack@v3
        with:
          status: failure
          text: FAILED ${{ github.event.inputs.application-name }} deploy on ${{ github.event.inputs.env }}
          fields: repo, job, took
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
