name: Fuzz
on:
  schedule:
    - cron: "0 8 * * *" # UTC
  workflow_dispatch:
jobs:
  fuzz:
    if: github.repository != 'tmfg/digitraffic-rail'
    runs-on: ubuntu-22.04
    steps:
      - name: Fuzz
        uses: mprencipe/waggers-action@v4
        with:
          url: https://rata-beta.digitraffic.fi/swagger/openapi.json
          fuzzcount: 5
          headers: "digitraffic-user:internal-digitraffic-fuzz"
      - name: Notify Slack
        if: failure()
        uses: 8398a7/action-slack@v3
        with:
          status: failure
          text: FAILED Rail fuzz
          fields: repo, job, took
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
