name: Install Mosquitto
on:
  workflow_dispatch:
    inputs:
      env:
        description: "Environment"
        required: true
        type: environment
        default: "beta"
      config-repo-branch:
        description: "Branch or tag of CI-repo"
        required: true
        default: "master"
jobs:
  log-parameters:
    if: github.repository != 'tmfg/digitraffic-rail'
    runs-on: ubuntu-24.04
    steps:
      - name: Create parameters.txt
        run: |
          echo "User ${{ github.actor }} started install on $(date)" > parameters.txt
          echo "Environment ${{ github.event.inputs.env }}" >> parameters.txt
          echo "config-repo-branch ${{ github.event.inputs.config-repo-branch }}" >> parameters.txt
      - name: Upload parameters.txt
        uses: actions/upload-artifact@v6
        with:
          name: parameters.txt
          path: parameters.txt
  image:
    if: github.repository != 'tmfg/digitraffic-rail'
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      actions: read
    environment: ${{ github.event.inputs.env }}
    steps:
      - name: Checkout CI-repo
        uses: actions/checkout@v6
        with:
          repository: ${{ secrets.CONFIG_REPO_NAME }}
          ssh-key: ${{ secrets.CONFIG_REPO_SSH_KEY }}
          ref: ${{ inputs.config-repo-branch }}
          path: digitraffic-ci
      - name: Set docker environment
        run: |
          if [ "${{ github.event.inputs.env }}" == "beta" ]
          then
            echo "ENVIRONMENT=test" >> $GITHUB_ENV
          else
            echo "ENVIRONMENT=${{ github.event.inputs.env }}" >> $GITHUB_ENV
          fi

      - name: Read SBOM config
        id: sbom-config
        run: |          
          echo "config<<EOF" >> $GITHUB_OUTPUT
          cat digitraffic-ci/aws/sbom/rail.json >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
          
          echo "common<<EOF" >> $GITHUB_OUTPUT
          cat digitraffic-ci/aws/sbom/config.json >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          role-session-name: gh-actions-install-image-rail-mqtt-${{ github.event.inputs.env }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2
      - name: Build mqtt image
        run: |
          cd digitraffic-ci/aws/mqtt

          docker buildx build \
              --no-cache \
              --build-arg ENVIRONMENT=rail \
              --platform linux/arm64 \
              --output type=docker \
              --tag ${{ secrets.ECR_URL }}/rata-mqtt:latest \
              --pull=true \
              --file=Dockerfile-rail .
          docker push ${{ secrets.ECR_URL }}/rata-mqtt:latest
      - name: Generate SBOM
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: image
          image-ref: ${{ secrets.ECR_URL }}/rata-mqtt:latest
          format: cyclonedx
          output: mosquitto-sbom.json
      - name: Update rata-mqtt task-def
        id: update
        uses: tmfg/digitraffic-actions@update-task-def/v2
        with:
          task-def-file-name: rail-${{ github.event.inputs.env }}-mqtt
          family-name: rata-mqtt
          image-arn: ${{ secrets.ECR_URL }}/rata-mqtt:latest
          aws-role: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
          ci-repo-url: ${{ secrets.CONFIG_REPO_NAME }}
          ci-repo-branch: ${{ github.event.inputs.config-repo-branch }}
          ci-ssh-key: ${{ secrets.CONFIG_REPO_SSH_KEY }}
      - name: Update mqtt service
        uses: tmfg/digitraffic-actions@ecs-service-update/v1
        with:
          aws-role: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
          service-name: rata-mqtt
          cluster-name: ${{ secrets.CLUSTER_NAME }}
          task-definition: rata-mqtt
          desired-count: 1
      - name: Configure AWS credentials for SBOM
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ fromJson(steps.sbom-config.outputs.common).sbomUploadRoleArn }}
          role-session-name: gh-actions-upload-sbom-rail-mosquitto-${{ github.event.inputs.env }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Upload SBOM
        run: |
          aws s3 cp mosquitto-sbom.json s3://${{ fromJson(steps.sbom-config.outputs.common).bucketArn }}/${{ fromJson(steps.sbom-config.outputs.config)[github.event.inputs.env]['mosquitto'] }}/${{ github.run_id }}-${{ github.sha }}.json
      - name: Notify Slack
        if: failure()
        uses: 8398a7/action-slack@v3
        with:
          status: failure
          text: FAILED Mosquitto rail-${{ github.event.inputs.env }} config on install
          fields: job
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
