name: 'Mirror repo to public'
on:
  push:
    branches:
      - master
jobs:
  Mirror-action:
    if: github.repository != 'tmfg/digitraffic-rail'
    runs-on: ubuntu-latest
    steps:
      - name: Mirror
        uses: tmfg/digitraffic-actions@mirror/v2
        with:
          mirror-repo: git@github.com:tmfg/digitraffic-rail.git
          ssh-private-key: ${{ secrets.SSH_MIRROR_KEY }}
